$box-side: 150px;

.lattice {
  border: 1px solid #000;
  height: (3 * $box-side);
  width: (3 * $box-side);
}

.lattice__box {
  background-color: #FFF;
  border: 1px solid #000;
  box-sizing: border-box;
  display: inline-block;
  height: $box-side;
  position: relative;
  width: $box-side;
}

.box--x:before {
  color: #000;
  content: "\2716";
  font-size: $box-side;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box--x {
}
