$box-side: 150px;

body {
  background-color: #EEEEEE;
}

.lattice {
  border: 1px solid #000;
  height: (3 * $box-side);
  width: (3 * $box-side);
}

.lattice__box {
  background-color: #FFF;
  border: 1px solid #000;
  box-sizing: border-box;
  display: inline-block;
  height: $box-side;
  position: relative;
  width: $box-side;
}

@mixin box-status($content) {
  color: #000;
  content: $content;
  font-size: $box-side;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lattice__box--x:before {
  @include box-status("X");
}

.lattice__box--o:before {
  @include box-status("O");
}
